form:not([hidden]) {
	display: flex;
	flex-direction: column;
	gap: .5rem;

	.input-group {
		input, textarea, button {
			display: block;
			box-sizing: border-box;
			width: 100%;
		}

		button { 
			padding: .5rem;
		}
	}
}

details.log {
	margin: .5rem 0;
	border: dashed 2px #888;
	padding: .5rem;

	ul {
		list-style: none;
		margin: .5rem 0 .5rem 1rem;
		padding: 0;
	}
	ul:empty {
		margin: 0;
	}
}
